/*Header*/
.header {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header button {
    font-size: 1.5rem;;
    border-style: none;
    background-color: transparent;
}


#title {
    border: 1px solid black;
    text-align: center;
    padding: 15px;

}


h2 {
     text-align: center;  
}

/* Search rooms */
.search-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex; 
    justify-content: space-between;
}

.searchInput {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block; 
    text-align: center; 
    margin: 10px;
}

#adults,
#children {
    width: 40px;
}

.search-btn {
    text-align: center;
    padding: 20px; 
}


/* Search Results*/
.hotel-name h2 {
    margin: 15px;
}

.room {
    border: 1px solid black;
    width: 80%;
    margin: 50px auto;
    padding: 50px;
    display: flex;
}

.facilities {
    width: 50%;
}

.reserve {
    display: flex;
    justify-content: center;
}

.reserve-btn {
    margin: 50px;
}

#price {
    margin: 50px;
}

.images {
    width: 50%;
    height: 300px;
    background-color: rgb(244, 219, 219);
    margin: 20px;
}


