:root{
    --primary:#041421;
    --secondary:#06313e;
    --tertiary:#4c7273;
    --background:#86b9b0;
    --sec-background:#d0d6d6;
}



body{
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1.5px;
}

/*navbar*/

.nav-item{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#nav-top a{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

#nav-bottom{
    margin-top: 5rem;
}

#nav-bottom label{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

#nav-bottom input{
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: 0.5rem 0;
}

#nav-bottom select{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: 0.5rem 0;
}

#nav-bottom button{
    margin-top:auto;
    margin-bottom: 5px;

}


/*hero*/

#hero{
    background-image:
                linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
                url('https://yc2401fotos.blob.core.windows.net/upload/hotel_hero.jpeg');
    background-repeat: no-repeat;
    height: 800px;
}


.text-white{
    text-align: center;
}

/*history*/

#history{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--primary);
}

#history-card{
    background-color: var(--primary);
    color: #fff;
    border: 2px solid var(--primary);
}

/*carousel*/

#carouselbox{
    margin: auto;
    width: 1000px;

    
    
}

#Explore{
    background-color: var(--primary);
}