/*Header*/
.header {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header button {
    font-size: 1.5rem;;
    border-style: none;
    background-color: transparent;
}



/*Intro*/
#hotelChainImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.intro-wrapper {
    position: relative;
    width: 100%;
    height: 1080px;
} 

.intro h3 {
    font-size: 1.3rem;;
    margin-top: 16px;
    margin-bottom: 10px;
}

.intro h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.intro {
    position: relative;
    border: 1px solid black;
    color: white;
    background-color: rgba(51, 42, 52, 0.8);
    width: 30%; 
    padding: 20px;
    top: 0%; 
    left: 20%; 
    transform: translate(-30%, -320%);
    
}

.intro:hover {
    background-color: rgba(26, 24, 27, 0.8);
    border-color: sandybrown;
    /* border-width: 2px; */
}

/* .intro:hover h2 {
    font-size: 2rem;
} */



/*Find Your Perfect Stay*/
.chooseHotel {
    border: 1px solid black;
    padding: 25px;
    
}

.chooseHotel p {
    text-align: center;
    font-size: 1.5rem;;
    font-weight: bold;
    margin-top: 0px;
}

.hotelSelector {
    display: flex;
    justify-content: center;
}

.hotelSelector button {
    margin-left: 50px;
}


/*Photo Carousel*/
#hotel-title {
    border: 1px solid black;
    text-align: center;

    padding: 20px;
}

#hotel-title h2 {
    font-size: 2.3rem;
}

#carousel img {
    height: 600px;
    object-fit: cover;
}


/*Search rooms*/
.search-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput {
    margin: 5px;
    align-items: center;
}

#adults {
    width: 40px;
}

#children {
    width: 40px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-button {
    align-items: center;
}